// *{
//   margin: 0 auto;
//   padding: 0;
// }

.container{
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  
  height: 1000px;
  display: grid;
  // grid-template-rows: 150px 150px;
  // grid-template-columns: 150px 150px 150px;

  grid-template-rows: repeat(2,  150px);
  // grid-template-rows: repeat(2,  1fr);

  grid-template-columns: repeat(3, 1fr);
  // grid-template-columns:  repeat(2, 150px) 1fr;
  // grid-template-columns: 1fr 2fr 1fr;
  // grid-template-columns: 50% 2fr 1fr;
  
  // grid-row-gap: 30px;
  // grid-column-gap: 30px;
  grid-gap: 30px;
  
  .item{
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;

    &--1{background-color: orangered;}
    &--2{background-color: yellowgreen;}
    &--3{background-color: blueviolet;}
    &--4{background-color: palevioletred;}
    &--5{background-color: royalblue;}
    &--6{background-color: goldenrod;}
  }
}